@using IzgodnoKupi.Web.Models.OrderItemViewModels
@model OrderItemViewModel

<div class="cart-header">
    <div id="@Model.Product.Id" class="closeOrderItem" onclick="deleteOrderItem(id)"> </div>
    <div class="cart-sec simpleCart_shelfItem">
        <div class="cart-item cyc">
            <img src="@Model.Product.Picture.ImageUrl" class="img-responsive" alt="" />
        </div>
        <div class="cart-item-info">
            <h3><a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Product.Id">@Model.Product.Name</a><span></span></h3>
            <ul class="qty">
                <li><p>Единична цена : @{@Model.Product.Price}лв.</p></li>
                <li><p>Количество : @Model.Quantity</p></li>
            </ul>
            <div class="delivery">
                <p>Обща цена : @{@Model.TotalPrice}лв.</p>
                <span>@Model.Product.ProductAvailability</span>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
