@using IzgodnoKupi.Web.Models.OrderViewModels
@model MyCartViewModel

<div class="container">
    <div class="check-sec">
        <div class="col-md-3 cart-total">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="continue">Продължи с пазаруването</a>
            <div class="price-details">
                <h3>Общо</h3>
                <span>Сума без ДДС</span>
                <span class="total1">@string.Format("{0:F2}", @Model.TotalAmountExclTax)лв.</span>
                <span>ДДС</span>
                <span class="total1">@string.Format("{0:F2}", @Model.TaxAmount)лв.</span>
                <span>Сума с ДДС</span>
                <span class="total1">@string.Format("{0:F2}", @Model.TotalAmountInclTax)лв.</span>
                <span>Доставка</span>
                <span class="total1">@string.Format("{0:F2}", @Model.ShippingTax)лв.</span>
                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"> <h4>Крайна Цена</h4></li>
                <li class="last_price"><h4>@string.Format("{0:F2}", @Model.TotalAmount)лв.</h4></li>
            </ul>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <a asp-area="" asp-controller="ShoppingCart" asp-action="CheckOut" class="order">Поръчай</a>
            @*<div class="total-item">
                <h3>OPTIONS</h3>
                <h4>COUPONS</h4>
                <a class="cpns" href="#">Apply Coupons</a>
            </div>*@
        </div>
        <div class="col-md-9 cart-items">
            <h1>Моята количка (@ViewBag.Count)</h1>

            @if (Model.OrderItems.Count > 0)
            {
                foreach (var item in Model.OrderItems)
                {
                    @Html.Partial("_OrderItemPartial", item)
                }
            }

            @*<div class="cart-header2">
                <div class="close2"> </div>
                <div class="cart-sec simpleCart_shelfItem">
                    <div class="cart-item cyc">
                        <img src="images/p3.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="cart-item-info">
                        <h3><a href="single.html">Show Lights</a><span>Model No: SL-3578</span></h3>
                        <ul class="qty">
                            <li><p>Size : 5</p></li>
                            <li><p>Qty : 1</p></li>
                        </ul>
                        <div class="delivery">
                            <p>Service Charges : Rs.100.00</p>
                            <span>Delivered in 2-3 bussiness days</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>*@
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //check out -->
@section Scripts {
                script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            $('.cart-header').fadeOut('slow', function (c) {
                                $('.cart-header').remove();
                            });
                        });
                    });
            </script>
            <script>
                $(document).ready(function (c) {
                    $('.close2').on('click', function (c) {
                        $('.cart-header2').fadeOut('slow', function (c) {
                            $('.cart-header2').remove();
                        });
                    });
                });
            </script>
}