@using IzgodnoKupi.Web.Models.OrderViewModels
@model MyCartViewModel

<div class="container">
    <div class="check-sec">
        <div class="col-md-3 cart-total">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="continue">Продължи с пазаруването</a>
            <div class="price-details">
                <h3>Общо</h3>
                <span>Сума без ДДС</span>
                <span class="total1">@string.Format("{0:F2}", @Model.TotalAmountExclTax)лв.</span>
                <span>ДДС</span>
                <span class="total1">@string.Format("{0:F2}", @Model.TaxAmount)лв.</span>
                <span>Сума с ДДС</span>
                <span class="total1">@string.Format("{0:F2}", @Model.TotalAmountInclTax)лв.</span>
                @*<span>Доставка</span>
                <span class="total1">@string.Format("{0:F2}", @Model.ShippingTax)лв.</span>*@
                <div class="clearfix"></div>
            </div>
            <ul class="total_price">
                <li class="last_price"> <h4>Крайна Цена</h4></li>
                <li class="last_price"><h4>@string.Format("{0:F2}", @Model.TotalAmount)лв.</h4></li>
            </ul>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <a class="order" id="order-now" onclick="displayContactInfo()">Поръчай</a>
            <a href="javascript:document.getElementById('check-out-form').submit()" class="check-out hidden" id="check-out">Завърши поръчката</a>
            @*<div class="total-item">
                <h3>OPTIONS</h3>
                <h4>COUPONS</h4>
                <a class="cpns" href="#">Apply Coupons</a>
            </div>*@
        </div>
            <div class="col-md-9 cart-items">
                <h1>Моята количка (@ViewBag.Count)</h1>

                @if (Model.OrderItems.Count > 0)
            {
                foreach (var item in Model.OrderItems)
                {
                        @Html.Partial("_OrderItemPartial", item)
                    }
                }
            </div>
        <form asp-controller="ShoppingCart" asp-action="CheckOut" method="post" id="check-out-form">
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div id="contact-info" class="col-md-9 contact-info hidden">
                    @Html.EditorFor(x => x.FullContactInfo)
                </div>
        </form>
            <div class="clearfix"> </div>
</div>
</div>
<!-- //check out -->
@section Scripts {
<script>
    function deleteOrderItem(id) {
        $(`#${id}`).parent().fadeOut('slow', function (c) {
            $(`#${id}`).parent().remove();
        });
        $.ajax({
            url: '/ShoppingCart/DeleteOrderItem',
            data: { id: id },
            success: setInterval(redirect, 1000)
        })
    };
    function redirect() {
        var url = '/ShoppingCart/MyCart';
        window.location.href = url;
    }
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}