@using IzgodnoKupi.Web.Models.ProductViewModels

@model List<PreviewProductViewModel>

    @foreach (var product in Model)
    {
    <div class="product-grid">
            <a  asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                    <div class="more-product"><span> </span></div>
                    <div class="product-img b-link-stripe b-animate-go  thickbox">
                        <img src="@product.Picture.ImageUrl" class="img-responsive" alt="" />
                        <div class="b-wrapper">
                            <h4 class="b-animate b-from-left  b-delay03">
                                <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Преглед</button>
                            </h4>
                        </div>
                    </div>
            </a>
            <div class="product-info simpleCart_shelfItem">
                <div class="product-info-cust prt_name">
                    <h4 class="item-name">@product.Name</h4>
                    <span class="item_price">@{@product.Price}лв.</span>
                        <div class="ofr">
                    @if (@product.OldPrice != 0)
                    {
                            <p class="pric1"><del>@{@product.OldPrice}лв.</del></p>
                            <p class="disc">@{@product.Discount}<sup>%</sup></p>
                        }
                        else
                        {
                            <p class="pric1"><del></del></p>
                            <p class="disc"></p>
                        }
                        </div>

                    @*<input type="text" class="item_quantity" value="1" />
                    <input type="button" class="item_add items" value="ADD">*@
                    @*This make POST request*@
                    <form asp-area="" asp-controller="ShoppingCart" asp-action="OrderNow" class="form-horizontal">
                        <input type="hidden" name="id" asp-for="@product.Id" />
                        <input type="number" name="quantity" class="item_quantity" value="1" />
                        <input type="submit" value="Поръчай" class="item_add items" />
                    </form>
                    <div class="clearfix"> </div>
                </div>
            </div>
	</div>
    }