@using IzgodnoKupi.Web.Areas.Admin.Models.UserViewModel
@model IndexUserViewModel


<h2 class="text-center">Резултати от търсенето</h2>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-warning" asp-action="AddUser"><i class="glyphicon glyphicon-plus"></i> Нов Потребител</a>
    </div>
    <div class="col-md-4 col-md-offset-4">

        <form asp-action="SearchUser" method="get" class="form-horizontal">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" name="searchTerm" placeholder="Search" />
                </div>
                <div class="col-md-2">
                    <input type="submit" value="Търсене" class="btn btn-fill btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Role Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- pager -->
        <div class="col-md-12 card-content">
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                {
                        <li>
                            <a asp-controller="User" asp-action="Index" asp-route-page="1"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (int pageNum = Model.Pager.StartPage; pageNum <= Model.Pager.EndPage; pageNum++)
                {
                        <li class="@(pageNum == Model.Pager.CurrentPage ? "active" : "")">
                            <a asp-controller="User" asp-action="Index" asp-route-page="@pageNum">@pageNum</a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                        <li>
                            <a asp-controller="User" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Index" asp-route-page="@(Model.Pager.TotalPages)"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    }
                </ul>
            }
        </div>
        @foreach (var user in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.RoleName)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="EditUser" asp-route-id="@user.Id"><i class="glyphicon glyphicon-pencil"></i> Редактирай</a>
                    <a class="btn btn-danger" asp-action="DeleteUser" asp-route-id="@user.Id"><i class="glyphicon glyphicon-trash"></i> Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>