@using IzgodnoKupi.Web.Areas.Admin.Models.Category
@model IndexPageCategoryViewModel

@{
    var searchTerm = ViewData["searchTerm"].ToString();
}

<h2 class="text-center">Резултати от търсенето на "@searchTerm"</h2>

<div class="col-md-4">
    <a class="btn btn-warning" asp-action="AddCategory"><i class="glyphicon glyphicon-plus"></i>Нова Категория</a>
</div>
<div class="col-md-4 col-md-offset-4">
    <form asp-action="SearchCategory" method="get" class="form-horizontal">
        <div class="row">
            <div class="col-md-8">
                <input type="text" class="form-control" name="searchTerm" placeholder="Search" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Търсене" class="btn btn-fill btn-default" />
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                ShowOnHomePage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- pager -->
        <div class="col-md-12 card-content">
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                {
                        <li>
                            <a asp-controller="Category" asp-action="SearchCategory" asp-route-searchTerm="@searchTerm" asp-route-page="1"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Category" asp-action="SearchCategory" asp-route-searchTerm="@searchTerm" asp-route-page="@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (int pageNum = Model.Pager.StartPage; pageNum <= Model.Pager.EndPage; pageNum++)
                {
                        <li class="@(pageNum == Model.Pager.CurrentPage ? "active" : "")">
                            <a asp-controller="Category" asp-action="SearchCategory" asp-route-searchTerm="@searchTerm" asp-route-page="@pageNum">@pageNum</a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                        <li>
                            <a asp-controller="Category" asp-action="SearchCategory" asp-route-searchTerm="@searchTerm" asp-route-page="@(Model.Pager.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Category" asp-action="SearchCategory" asp-route-searchTerm="@searchTerm" asp-route-page="@(Model.Pager.TotalPages)"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    }
                </ul>
            }
        </div>
        @{
            foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="checkbox not-active">
                            <input asp-for="@item.ShowOnHomePage" />
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                        <a class="btn btn-info" asp-area="Admin" asp-controller="Category" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
            };
        }
    </tbody>
</table>