@using IzgodnoKupi.Web.Models.ProductViewModels;
@model PreviewProductViewModel

<div class="col-md-3 feature-grid">
    <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">
        <img class="item-img" src="@Model.Picture.ImageUrl" alt="" />
        <div class="arrival-info text-center">
            <h4>@Model.Name</h4>
            @if (Model.OldPrice != 0)
            {
                <span class="pric1"><del>@Model.OldPrice</del></span>
                <span class="disc">[@Model.Discount% Off]</span>
                <p>@{@Model.Price}лв.</p>
            }
             else
            {
                <p>@{@Model.Price}лв.</p>
            }
        </div>
    </a>
        <div class="viw">
            <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Преглед</a>
        </div>
 
</div>
