@using IzgodnoKupi.Web.Areas.Admin.Models.OrderItemViewModel
@model ICollection<OrderItemAdminViewModel>

<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <tr>
                <th hidden="hidden">Id</th>
                <th>Номер</th>
                <th class="product-name">Име</th>
                <th>Количество</th>
                <th>Обща цена</th>
            </tr>
        </thead>
        <tbody>

            @{
                int index = 1;

                foreach (var item in Model)
                {
                    <tr>
                        <td hidden="hidden" id=@item.ProductId></td>
                        <td>@index</td>
                        <td><a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">@item.Product.Name</a></td>
                        <td>@item.Quantity</td>
                        <td>@item.SubTotal</td>
                    </tr>
                   index++;
                }
            }
        </tbody>
</table>
</div>