@using IzgodnoKupi.Web.Areas.Admin.Models.OrderViewModel
@using IzgodnoKupi.Data.Model.Enums
@model OrderViewModel

<h4 class="text-center">Редактиране</h4>

<hr />
<div class="row">
    <div class="">
        <form asp-controller="Order" asp-action="Edit" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="contact-info" class="contact-info">
                    <h5 class="text-center">Данни за доставка</h5>
                    <hr />
                    <input asp-for="FullContactInfoId" class="hidden" />
                    <input asp-for="UserId" class="hidden" />
                    <div class="col-md-6 form-group">
                        @Html.LabelFor(x => x.FullContactInfo.FirstName)
                        @if (Model.FullContactInfo == null)
                        {
                            <input asp-for="ShortContactInfo.FirstName" class="form-control" tabindex="1" />
                            <span asp-validation-for="ShortContactInfo.FirstName" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="FullContactInfo.FirstName" class="form-control" tabindex="1" />
                            <span asp-validation-for="FullContactInfo.FirstName" class="text-danger"></span>
                        }
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="FullContactInfo.Area"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.Area, new { @class = "form-control", tabindex = "4" })
                        <span asp-validation-for="FullContactInfo.Area" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="FullContactInfo.LastName"></label>
                        @if (Model.FullContactInfo == null)
                        {
                            <input asp-for="ShortContactInfo.LastName" class="form-control" tabindex="1" />
                            <span asp-validation-for="ShortContactInfo.LastName" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="FullContactInfo.LastName" class="form-control" tabindex="1" />
                            <span asp-validation-for="FullContactInfo.LastName" class="text-danger"></span>
                        }
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="FullContactInfo.City"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.City, new { @class = "form-control", tabindex = "5" })
                        <span asp-validation-for="FullContactInfo.City" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="FullContactInfo.PhoneNumber"></label>
                        @if (Model.FullContactInfo == null)
                        {
                            <input asp-for="ShortContactInfo.PhoneNumber" class="form-control" tabindex="1" />
                            <span asp-validation-for="ShortContactInfo.PhoneNumber" class="text-danger"></span>
                        }
                        else
                        {
                            <input asp-for="FullContactInfo.PhoneNumber" class="form-control" tabindex="1" />
                            <span asp-validation-for="FullContactInfo.PhoneNumber" class="text-danger"></span>
                        }
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="FullContactInfo.Address"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.Address, new { @class = "form-control", tabindex = "6" })
                        <span asp-validation-for="FullContactInfo.Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group compani-info">
                        <label asp-for="FullContactInfo.CompanyName"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.CompanyName, new { @class = "form-control", tabindex = "8" })
                        <span asp-validation-for="FullContactInfo.CompanyName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group compani-info">
                        <label asp-for="FullContactInfo.CompanyCity"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.CompanyCity, new { @class = "form-control", tabindex = "9" })
                        <span asp-validation-for="FullContactInfo.CompanyCity" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group compani-info">
                        <label asp-for="FullContactInfo.CompanyAddress"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.CompanyAddress, new { @class = "form-control", tabindex = "10" })
                        <span asp-validation-for="FullContactInfo.CompanyAddress" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group compani-info">
                        <label asp-for="FullContactInfo.MOL"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.MOL, new { @class = "form-control", tabindex = "11" })
                        <span asp-validation-for="FullContactInfo.MOL" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group compani-info">
                        <label asp-for="FullContactInfo.EIK"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.EIK, new { @class = "form-control", tabindex = "12" })
                        <span asp-validation-for="FullContactInfo.EIK" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group compani-info">
                        <label asp-for="FullContactInfo.BGEIK"></label>
                        @Html.TextBoxFor(x => x.FullContactInfo.BGEIK, new { @class = "form-control", tabindex = "13" })
                        <span asp-validation-for="FullContactInfo.BGEIK" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="FullContactInfo.Note"></label>
                        @Html.TextAreaFor(x => x.FullContactInfo.Note, new { @class = "form-control", tabindex = "14" })
                        <span asp-validation-for="FullContactInfo.Note" class="text-danger"></span>
                    </div>
            </div>
            <hr />

            @Html.Partial("_CartItemsPartials", @Model.OrderItems)

            <div class="form-group">

                <input type="hidden" asp-for="@Model.TotalAmountExclTax" />
                <div class="control-label order-total-label text-right col-md-2 col-md-offset-8">Сума без ДДС:</div>
                <div class="control-label order-total-digit text-right col-md-2">@Model.TotalAmountExclTax лв.</div>

                <input type="hidden" asp-for="@Model.TaxAmount" />
                <div class="control-label order-total-label text-right col-md-2 col-md-offset-8">ДДС:</div>
                <div class="control-label order-total-digit text-right col-md-2">@Model.TaxAmount лв.</div>

                <input type="hidden" asp-for="@Model.TotalAmountInclTax" />
                <div class="control-label order-total-label text-right col-md-2 col-md-offset-8">Сума с ДДС:</div>
                <div class="control-label order-total-digit text-right col-md-2">@Model.TotalAmountInclTax лв.</div>

                <input type="hidden" asp-for="@Model.ShippingTax" />
                <div class="control-label order-total-label text-right col-md-2 col-md-offset-8">Доставка:</div>
                <div class="control-label order-total-digit text-right col-md-2">@Model.ShippingTax лв.</div>

                <div class="control-label order-total-label text-right col-md-2 col-md-offset-8">Обща сума:</div>
                <div class="control-label order-total-digit text-right col-md-2">@ViewBag.TotalSum лв.</div>

            </div>
            <hr />

            <div class="form-group">
                @Html.Label("", "Статус на поръчката", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    <select class="form-control" asp-for="OrderStatus" asp-items="@Html.GetEnumSelectList<OrderStatus>()">
                        @*<option selected="selected" value="">Please select</option>*@
                    </select>
                </div>
            </div>
            <hr />


            <div class="form-group">
                <div class="col-md-3 col-md-offset-6">
                    @*<input type="submit" class="btn btn-success" value="Add" name="@product" />*@
                    <input type="submit" class="btn btn-success" value="Запиши" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}