@using IzgodnoKupi.Web.Areas.Admin.Models.OrderViewModel
@using IzgodnoKupi.Data.Model.Enums

@model IndexOrderViewModel

<h2 class="text-center">Последни поръчки</h2>


<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                Date
            </th>
            <th class="text-center">
                LastName
            </th>
            <th class="text-center">
                TotalAmountInclTax
            </th>
            <th class="text-center">
                OrderStatus
            </th>
            <th class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- pager -->
        <div class="col-md-12 card-content">
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                {
                        <li>
                            <a asp-controller="Order" asp-action="Index" asp-route-page="1"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Order" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (int pageNum = Model.Pager.StartPage; pageNum <= Model.Pager.EndPage; pageNum++)
                {
                        <li class="@(pageNum == Model.Pager.CurrentPage ? "active" : "")">
                            <a asp-controller="Order" asp-action="Index" asp-route-page="@pageNum">@pageNum</a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                        <li>
                            <a asp-controller="Order" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Order" asp-action="Index" asp-route-page="@(Model.Pager.TotalPages)"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    }
                </ul>
            }
        </div>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td class="text-center">
                    @item.OrderDate.ToString()
                </td>
                <td>
                    @if (item.FullContactInfo == null)
                    {
                        @Html.DisplayFor(modelItem => item.ShortContactInfo.LastName)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FullContactInfo.LastName)
                    }
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TotalAmountInclTax)
                </td>
                <td>
                    @if (item.OrderStatus == OrderStatus.Confirmed)
                    {
                        <div class="text-danger text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                    else if (item.OrderStatus == OrderStatus.Shipped)
                    {
                        <div class="text-info text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                    else if (item.OrderStatus == OrderStatus.Delivered)
                    {
                        <div class="text-success text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                    else if (item.OrderStatus == OrderStatus.Canceled)
                    {
                        <div class="text-warning text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                </td>
                <td class="text-center">
                    <a class="btn btn-success" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Редакция</a>
                    <a class="btn btn-info" asp-controller="Order" asp-action="Details" asp-route-id="@item.Id">Преглед</a>
                    <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>