@using IzgodnoKupi.Web.Areas.Admin.Models.OrderViewModel
@using IzgodnoKupi.Data.Model.Enums

@model IndexOrderViewModel

@{
    var startDate = ((DateTime)ViewData["startDate"]).ToString("yyyy-MM-dd");
    var endDate = ((DateTime)ViewData["endDate"]).ToString("yyyy-MM-dd");
    var orderStatus = (OrderStatus)ViewData["orderStatus"];
}

<h2 class="text-center">Филтрирани поръчки</h2>

<div>
    <form asp-action="SearchOrder" method="get" class="form-horizontal">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1">
                            <input type="date" name="startDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker2">
                            <input type="date" name="endDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <div class="form-group">
                        <select class="form-control" name="orderStatus" asp-items="@Html.GetEnumSelectList<OrderStatus>()"></select>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <input type="submit" value="Търсене" class="btn btn-fill btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                Date
            </th>
            <th class="text-center">
                LastName
            </th>
            <th class="text-center">
                TotalAmountInclTax
            </th>
            <th class="text-center">
                OrderStatus
            </th>
            <th class="text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- pager -->
        <div class="col-md-12 card-content">
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                {
                        <li>
                            <a asp-controller="Order" asp-action="SearchOrder" asp-route-startDate="@startDate" asp-route-endDate="@endDate" asp-route-orderStatus="@orderStatus" asp-route-page="1"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Order" asp-action="SearchOrder" asp-route-startDate="@startDate" asp-route-endDate="@endDate" asp-route-orderStatus="@orderStatus"  asp-route-page="@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (int pageNum = Model.Pager.StartPage; pageNum <= Model.Pager.EndPage; pageNum++)
                {
                        <li class="@(pageNum == Model.Pager.CurrentPage ? "active" : "")">
                            <a asp-controller="Order" asp-action="SearchOrder" asp-route-startDate="@startDate" asp-route-endDate="@endDate" asp-route-orderStatus="@orderStatus"  asp-route-page="@pageNum">@pageNum</a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                        <li>
                            <a asp-controller="Order" asp-action="SearchOrder" asp-route-startDate="@startDate" asp-route-endDate="@endDate" asp-route-orderStatus="@orderStatus"  asp-route-page="@(Model.Pager.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Order" asp-action="SearchOrder" asp-route-startDate="@startDate" asp-route-endDate="@endDate" asp-route-orderStatus="@orderStatus"  asp-route-page="@(Model.Pager.TotalPages)"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    }
                </ul>
            }
        </div>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td class="text-center">
                    @item.OrderDate.ToString()
                </td>
                <td>
                    @if (item.FullContactInfo == null)
                    {
                        @Html.DisplayFor(modelItem => item.ShortContactInfo.LastName)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FullContactInfo.LastName)
                    }
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TotalAmountInclTax)
                </td>
                <td>
                    @if (item.OrderStatus == OrderStatus.Confirmed)
                    {
                        <div class="text-danger text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                    else if (item.OrderStatus == OrderStatus.Shipped)
                    {
                        <div class="text-info text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                    else if (item.OrderStatus == OrderStatus.Delivered)
                    {
                        <div class="text-success text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                    else if (item.OrderStatus == OrderStatus.Canceled)
                    {
                        <div class="text-warning text-center">
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </div>
                    }
                </td>
                <td class="text-center">
                    <a class="btn btn-success" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">Редакция</a>
                    <a class="btn btn-info" asp-controller="Order" asp-action="Details" asp-route-id="@item.Id">Преглед</a>
                    <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>