@using IzgodnoKupi.Web.Models.ProductViewModels
@using IzgodnoKupi.Data.Model.Enums
@using IzgodnoKupi.Web.Models.CategoryViewModels
@model ProductViewModel

@{
    ViewBag.Title = "Products Page";
    List<CategoriesNavigationViewModel> categories = ViewData["categories"] as List<CategoriesNavigationViewModel>;
    ProductViewModel product = ViewData["product"] as ProductViewModel;
}

<h4 class="text-center">Редактиране</h4>

<hr />
<div class="row">
    <div class="form-horizontal">
        <form asp-controller="Product" asp-action="Edit" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @Html.Label("", "Име", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    @*@Html.TextBox("Name", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })*@
                    <input asp-for="Name" type="text" class="form-control">
                    <span asp-validation-for="Name" class="text-danger field-validation-valid"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("", "Категория", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    @Html.DropDownList("CategoryId", new SelectList(categories, "Id", "Name"), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("", "Видима", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    <div class="checkbox">
                        <input asp-for="IsPublished" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.Label("", "Кратко Описание", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    @Html.TextArea("ShortDescription", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("", "Пълно Описание", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    @Html.TextArea("FullDescription", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FullDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("", "URL на снимката", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    @Html.TextBox("Picture.ImageUrl", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Picture.ImageUrl, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("", "Количество", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    @Html.TextBox("Quantity", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("", "Цена", new { @class = "control-label col-md-2 col-md-offset-3" })
                @*<label asp-for="Price" class="col-md-2 control-label"></label>*@
                <div class="col-md-3">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                @Html.Label("", "Намаление", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    @Html.TextBox("Discount", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Discount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("", "Наличност", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    <select asp-for="ProductAvailability" asp-items="Html.GetEnumSelectList<ProductAvailability>()" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("", "Безплатна доставка", new { @class = "control-label col-md-2 col-md-offset-3" })
                <div class="col-md-3">
                    <div class="checkbox">
                        <input asp-for="IsFreeShipping" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 col-md-offset-6">
                    @*<input type="submit" class="btn btn-success" value="Add" name="@product" />*@
                    <input type="submit" class="btn btn-success" value="Запиши" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}