@using IzgodnoKupi.Web.Areas.Admin.Models.Product
@model IndexAdminPageViewModel

<h2 class="text-center">Продукти</h2>

<p>
    <a class="btn btn-warning" asp-action="AddProduct"><i class="glyphicon glyphicon-plus"></i>Нов Продукт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th class="productName">
                Name
            </th>
            <th>
                IsPublished
            </th>
            <th>
                ProductAvailability
            </th>
            <th>
                OldPrice
            </th>
            <th>
                Discount
            </th>
            <th>
                Price
            </th>
            <th>
               IsFreeShipping
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- pager -->
        <div class="col-md-12 card-content">
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                {
                        <li>
                            <a asp-controller="Product" asp-action="Index" asp-route-page="1"><i class="fa fa-angle-double-left"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (int pageNum = Model.Pager.StartPage; pageNum <= Model.Pager.EndPage; pageNum++)
                {
                        <li class="@(pageNum == Model.Pager.CurrentPage ? "active" : "")">
                            <a asp-controller="Product" asp-action="Index" asp-route-page="@pageNum">@pageNum</a>
                        </li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                        <li>
                            <a asp-controller="Product" asp-action="Index" asp-route-page="@(Model.Pager.CurrentPage + 1)"><i class="fa fa-angle-right"></i></a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="Index" asp-route-page="@(Model.Pager.TotalPages)"><i class="fa fa-angle-double-right"></i></a>
                        </li>
                    }
                </ul>
            }
        </div>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="productName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="checkbox not-active">
                        <input asp-for="@item.IsPublished" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductAvailability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OldPrice)лв.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)лв.
                </td>
                <td>
                    <div class="checkbox not-active">
                        <input asp-for="@item.IsFreeShipping" />
                    </div>
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                    <a class="btn btn-info" asp-area="" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>